header {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
}

.header-content {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(200, 200, 200);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-left, .header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

.header-left img {
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 55%;
}

.header-left h1 {
    margin: 0;
    color: rgb(41, 14, 175);
    letter-spacing: 4px;
    font-weight: 100;
    font-size: 28px;
    padding-left: 1rem;
}

.header-right a {
    color:rgb(41, 14, 175);
    text-decoration: none;
    padding-left: 1rem;
    white-space: nowrap;
}