#hello-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hello-section img {
    position:relative;
    max-width: 50%;
    width: 200px;
}

#hello-section h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    color: rgb(41, 14, 175);
}

#hello-section p {
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    color: #777;
    margin: 0;
}